<link rel="stylesheet" href="/css/footer.css" type="text/css">
<footer>
    <h4>Placement Cell</h4>
    <p>© Copyright, Placement Cell 2023</p>
    <div class="footer-links">
      <a href="/">Home</a>
      <a href="/users/profile">Profile</a>
    </div>
</footer>