<header>
	<% if (locals.user) { %>
	<nav class="navbar navbar-dark bg-info">
	  <div class="container-fluid">
		<a class="navbar-brand p-3" href="/">Placement Cell</a>
		<a class="navbar-brand" href="/users/profile">Hi <%= locals.user.name %></a>
		<form class="d-flex px-4">
		  <a class="navbar-brand p-2" href="/company/home" style="background-color: rgb(87, 87, 227); border-radius: 5px">Add Interview</a>
		  <a class="navbar-brand p-2" href="/job/list" style="background-color: rgb(150, 202, 150); border-radius: 5px">Job Listings</a>
		  <a class="navbar-brand p-2" href="/users/download-csv" style="background-color: rgb(198, 202, 121); border-radius: 5px">Download Report</a>
		  <a class="navbar-brand p-2" href="/users/signout" style="background-color: rgb(218, 81, 81); border-radius: 5px">Sign out</a>
		</form>
	  </div>
	</nav>
	<% } %>
  </header>
  